<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xy.mapper.ExportTOPMapper" >
  <resultMap id="BaseResultMap" type="com.xy.pojo.ExportTOP" >
    <result column="tradingVolume" property="tradingvolume" jdbcType="DOUBLE" />
    <result column="minimumPrice" property="minimumprice" jdbcType="DOUBLE" />
    <result column="middlePrice" property="middleprice" jdbcType="DOUBLE" />
    <result column="highestPrice" property="highestprice" jdbcType="DOUBLE" />
    <result column="varietyName" property="varietyname" jdbcType="LONGVARCHAR" />
    <result column="marketName" property="marketname" jdbcType="LONGVARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.xy.pojo.ExportTOP" >
    insert into Export_TOP (tradingVolume, minimumPrice, middlePrice, 
      highestPrice, varietyName, marketName
      )
    values (#{tradingvolume,jdbcType=DOUBLE}, #{minimumprice,jdbcType=DOUBLE}, #{middleprice,jdbcType=DOUBLE}, 
      #{highestprice,jdbcType=DOUBLE}, #{varietyname,jdbcType=LONGVARCHAR}, #{marketname,jdbcType=LONGVARCHAR}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select tradingVolume, minimumPrice, middlePrice, highestPrice, varietyName, marketName
    from Export_TOP
  </select>

  <select id="topN" resultMap="BaseResultMap" >
    select tradingVolume, minimumPrice, middlePrice, highestPrice, varietyName, marketName
    from Export_TOP
    <where>
      <if test="name!=null">
        varietyName =#{name}
      </if>
    </where>
    order by tradingVolume desc limit 5
  </select>
</mapper>