<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xy.mapper.CalendarDataMapper" >
  <resultMap id="BaseResultMap" type="com.xy.pojo.CalendarData" >
    <result column="provincename" property="provincename" jdbcType="VARCHAR" />
    <result column="one_level" property="oneLevel" jdbcType="VARCHAR" />
    <result column="two_level" property="twoLevel" jdbcType="VARCHAR" />
    <result column="varietyname" property="varietyname" jdbcType="VARCHAR" />
    <result column="total_export_volume" property="totalExportVolume" jdbcType="DECIMAL" />
  </resultMap>
  <insert id="insert" parameterType="com.xy.pojo.CalendarData" >
    insert into calendar_data (provincename, one_level, two_level, 
      varietyname, total_export_volume)
    values (#{provincename,jdbcType=VARCHAR}, #{oneLevel,jdbcType=VARCHAR}, #{twoLevel,jdbcType=VARCHAR}, 
      #{varietyname,jdbcType=VARCHAR}, #{totalExportVolume,jdbcType=DECIMAL})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select provincename, one_level, two_level, varietyname, total_export_volume
    from calendar_data
  </select>

  <select id="selectByProvince" resultMap="BaseResultMap" >
    select * from `calendar_data`
    where provincename=#{province}
      and total_export_volume >=
          (SELECT avg(total_export_volume) FROM `calendar_data` where provincename=#{province})
  </select>
  <select id="getProvince" resultType="string">
    select distinct provincename from `calendar_data`
  </select>
</mapper>