<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xy.mapper.VaegetableType2Mapper" >
  <resultMap id="BaseResultMap" type="com.xy.pojo.VaegetableType2" >
    <result column="one_level" property="oneLevel" jdbcType="VARCHAR" />
    <result column="two_level" property="twoLevel" jdbcType="VARCHAR" />
    <result column="varietyname" property="varietyname" jdbcType="VARCHAR" />
  </resultMap>

  <select id="selectAll" resultMap="BaseResultMap" >
    select one_level, two_level, varietyname
    from vaegettable_type_2
  </select>
</mapper> 